.drop-zone {
  width: 63%;
  margin: 5%;
}

.image-container {
  margin-top: 12%;
  position: relative;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
}

section {
  top: 6%;
}

#container {
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 2%;
  width: 33%;
}

#sign-up, #login {
  text-decoration: none;
  padding-left: 2%;
  margin-right: 2%;
  float: right;
}

#logout-btn {
  margin-right: 2%;
  float: right;
}

h1{
  text-align: center;
}

aside {
  float: right;
  width: 50vw;
}

aside img {
  display: block;
  height: 200px;
  width: 300px;
  margin-bottom: 1.5%;
}

#image-header {
  text-align: center;
}

#asset-tag {
  margin-left: 70%;
}

