.drop-zone {
  width: 63%;
  margin: 5%;
}


#container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  width: 33%;

}

#sign-up, #login {
  text-decoration: none;
  padding-left: 2%;
  margin-right: 2%;
  float: right;
}

h1{
  text-align: center;
}

